<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Lista de Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">




  <ion-item class="line">
    <ion-label position="floating" class="ion-text-center">
      Produto
    </ion-label>
    <ion-input clearInput type="..." placeholder="Produto" maxlength="65" [(ngModel)]="product" class="ion-text-center">
    </ion-input>
    <ion-label position="floating" class="ion-text-center">Quantidades</ion-label>
    <ion-input clearInput type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" min="0"
      maxlength="7" placeholder="0" [(ngModel)]="qtd" class="ion-text-center">
    </ion-input>
    <ion-label></ion-label>
  </ion-item>



  <ion-item class="ion-text-center">
    <ion-button id="add-trigger" class="btn " expand="block" (click)="addProduct(product , qtd)"
      (click)="presentPopover($event)">
      Adicionar
    </ion-button>
  </ion-item>
  <ion-list>
    <ion-item class="line">
      <ion-label>
        <h2>Produtos</h2>
      </ion-label>
      <ion-label class="ion-text-center">Quantidades</ion-label>
      <ion-label></ion-label>
    </ion-item>

    <app-product *ngFor="let product of getProducts()" [product]="product"></app-product>

    <ion-item *ngIf="getProducts().length === 0">
      <ion-label class="ion-text-center">
        <h2>Nenhum produto adicionado.</h2>
      </ion-label>
      <ion-icon name="sad" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <app-popover *ngIf="!product"></app-popover>

  <app-toast></app-toast>

  <ion-footer>
    <ion-toolbar>
    </ion-toolbar>
  </ion-footer>

</ion-content>